PORT = port to run the server
NODE_ENV= 'development' or 'production' #don't use 'development' in production 


## mysql database
MYSQL_DB_HOST=database server domain (localhost or IP or custom domain)
MYSQL_DB_PORT=MYSQL default 3306
MYSQL_DB_USER=username of the database
MYSQL_DB_PASSWORD=password of the database
MYSQL_DB_NAME=name for the database


# Optional (for Prisma or ORM) keep the values commented if you are not using an ORM tool
# MYSQL_DATABASE_URL=mysql://root:your_password@localhost:3306/my_database ## this is for MySQL
